<div *ngIf="topic">
    <div id="topic-title-header">
        <h2>{{ topic.title }}</h2>
        <button mat-raised-button color="primary" (click)="onRefreshMessages()">Actualiser les messages</button>
    </div>
    
    <p id="topic-infos">{{ topic | topicInfos }}</p>
    
    <ul>
        <li *ngFor="let message of topic.messages">
            <h3>{{ message | messageInfos }}</h3>
    
            <p [innerHTML]="message | message_bbcode"></p>

            <mat-form-field class="modify_input" *ngIf="editedMessage === message && connectedUser">
                <mat-label>Message</mat-label>
                <input type="text" matInput required [formControl]="editMessageControl">
                <mat-error *ngIf="editMessageControl.invalid">{{ getErrorMessage(null, editMessageControl) }}</mat-error>
            </mat-form-field>

            <div class="action-buttons-container" *ngIf="connectedUser">
                <button class="modify_button" mat-raised-button color="primary" *ngIf="editedMessage !== message && message.author.id === connectedUser.id" (click)="onChangeEditedMessage(message)">Modifier</button>
                <button class="save_button" mat-raised-button color="accent" *ngIf="editedMessage === message && message.author.id === connectedUser.id" (click)="onEditMessage(message)">Enregistrer</button>

                <button class="delete_button" mat-raised-button color="warn" *ngIf="message.author.id === connectedUser.id || connectedUser.admin === true" (click)="onDeleteMessage(message)">Supprimer</button>
            </div>

        </li>
    </ul>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="connectedUser">
    <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea type="text" matInput cdkTextareaAutosize required formControlName="content"></textarea>
        <mat-error *ngIf="true">{{ getErrorMessage('content') }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" id="message-form-button">Répondre au sujet</button>
</form>