<div *ngIf="topic">
    <div id="topic-title-header">
        <h2>{{ topic.title }}</h2>
        <button mat-raised-button color="primary" (click)="onRefreshMessages()">Actualiser les messages</button>
    </div>
    
    <p id="topic-infos">{{ topic | topicInfos }}</p>
    
    <ul>
        <li *ngFor="let message of topic.messages">
            <h3>{{ message | messageInfos }}</h3>
    
            <p>{{ message.content }}</p>
        </li>
    </ul>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="connectedUser">
    <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea type="text" matInput cdkTextareaAutosize required formControlName="content"></textarea>
        <mat-error *ngIf="true">{{ getErrorMessage('content') }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" id="message-form-button">Répondre au sujet</button>
</form>