mat-form-field, button {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:not(li:last-child) {
    margin-bottom: var(--small-margin);
}

li mat-form-field {
    max-width: 20% !important;
    max-height: 36px;
    top: -11px;
}

.action-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.action-buttons-container button:not(.action-buttons-container button:last-child) {
    margin: 0 var(--small-margin);
}