:root {
    --large-margin: 40px;
    --small-margin: 20px;
    --primary-color: #1A237E;
    --accent-color: #D81B60;
    --warn-color: #B71C1C;
}

body {
    margin: 40px 40px 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
